name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: 1.25.4

      - name: Execute golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1

      - name: Run tests
        run: go test ./...

